html
    head
        title Homepage
    body
        h1 This is the homepage
        p This was created using a Pug frontend and an Express backend. Pretty neat!
        a(href="/second") Go to the second page
