html
    head
        title Second Page
    body
        h1 This is the second page
        p This was created with a Pug frontend and an Express backend. #Cool #FirstTime
        a(href="/") Go to the homepage
